<div class="rounding-times-container">
  <afui-form-field>
    <span afui-field-label
      >סוג<mat-icon
        class="info"
        [class.disabled]="!cloneAfuiRoundingTimes.typeSeparationOfTimes"
        [svgIcon]="'info-fill'"
        [afuiTooltip]="
          messageTypeSeparationOfTimes[
            cloneAfuiRoundingTimes.typeSeparationOfTimes!
          ]
        "
        [afuiTooltipActive]="!!cloneAfuiRoundingTimes.typeSeparationOfTimes"
        [afuiTooltipShowArrow]="false"
        [afuiTooltipPosition]="'top-right'"
        [afuiTooltipOffset]="0"
        [afuiTooltipPanelClass]="'structures-tooltip'"
      ></mat-icon>
    </span>
    <mat-select
      afui-input
      class="structures-input"
      placeholder="בחירה"
      disableOptionCentering
      panelClass="structures-options"
      [ngModel]="cloneAfuiRoundingTimes.typeSeparationOfTimes"
      name="typeSeparationOfTimes"
      (selectionChange)="selectTypeRoundingTimes($event)"
    >
      <mat-option [value]="'מרחבית'">מרחבית</mat-option>
      <mat-option [value]="'אזורית'">אזורית</mat-option>
    </mat-select>
  </afui-form-field>
  <afui-form-field>
    <span afui-field-label
      >זמן לעיגול
      <mat-icon
        class="info"
        [svgIcon]="'info-fill'"
        [class.disabled]="cloneAfuiRoundingTimes.timeToRounding === null"
        [afuiTooltip]="
          messageTimeToRounding[cloneAfuiRoundingTimes.timeToRounding!]
        "
        [afuiTooltipActive]="cloneAfuiRoundingTimes.timeToRounding !== null"
        [afuiTooltipShowArrow]="false"
        [afuiTooltipPosition]="'top-right'"
        [afuiTooltipOffset]="0"
        [afuiTooltipPanelClass]="'structures-tooltip'"
      ></mat-icon>
    </span>
    <mat-select
      afui-input
      class="structures-input"
      placeholder="זמן"
      panelClass="structures-options"
      name="timeToRounding"
      disableOptionCentering
      [ngModel]="cloneAfuiRoundingTimes.timeToRounding"
      (selectionChange)="changeTimeToRounding(+$event.value)"
    >
      <mat-option [value]="0">{{ 0 }}</mat-option>
      <mat-option [value]="5">{{ 5 }}</mat-option>
    </mat-select>
  </afui-form-field>
</div>
