<ng-container [formGroup]="parentForm">
  <div class="rounding-times-container" formGroupName="roundingTimes">
    <afui-form-field>
      <span afui-field-label
        >סוג<mat-icon
          class="info"
          [class.disabled]="!typeSeparationOfTimesInput.value"
          [svgIcon]="'info-fill'"
          [afuiTooltip]="
            messageTypeSeparationOfTimes[typeSeparationOfTimesInput.value!]
          "
          [afuiTooltipActive]="!!typeSeparationOfTimesInput.value"
          [afuiTooltipShowArrow]="false"
          [afuiTooltipPosition]="'top-right'"
          [afuiTooltipOffset]="0"
          [afuiTooltipPanelClass]="'structures-tooltip'"
        ></mat-icon>
      </span>
      <mat-select
        afui-input
        class="structures-input"
        placeholder="בחירה"
        disableOptionCentering
        panelClass="structures-options"
        formControlName="typeSeparationOfTimes"
      >
        <mat-option [value]="'מרחבית'">מרחבית</mat-option>
        <mat-option [value]="'אזורית'">אזורית</mat-option>
      </mat-select>
    </afui-form-field>
    <afui-form-field>
      <span afui-field-label
        >זמן לעיגול
        <mat-icon
          class="info"
          [svgIcon]="'info-fill'"
          [class.disabled]="timeToRoundingInput.value === null"
          [afuiTooltip]="messageTimeToRounding[timeToRoundingInput.value!]"
          [afuiTooltipActive]="timeToRoundingInput.value !== null"
          [afuiTooltipShowArrow]="false"
          [afuiTooltipPosition]="'top-right'"
          [afuiTooltipOffset]="0"
          [afuiTooltipPanelClass]="'structures-tooltip'"
        ></mat-icon>
      </span>
      <mat-select
        afui-input
        class="structures-input"
        placeholder="זמן"
        panelClass="structures-options"
        disableOptionCentering
        formControlName="timeToRounding"
      >
        <mat-option [value]="0">{{ 0 }}</mat-option>
        <mat-option [value]="5">{{ 5 }}</mat-option>
      </mat-select>
    </afui-form-field>
  </div>
</ng-container>
