<!-- <mat-toolbar class="example-header">Header</mat-toolbar> -->

<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    mode="side"
    opened
    class="example-sidenav"
    [fixedInViewport]="false"
    [fixedTopGap]="0"
    [fixedBottomGap]="0"
  >
    <button mat-button class="menu-item">
      <mat-icon class="menu-icon" svgIcon="sdk_assignment"></mat-icon>
      <label class="menu-content">הקצאות סד"כ</label>
    </button>
    <button mat-button class="menu-item">
      <mat-icon class="menu-icon" svgIcon="reserve"></mat-icon>
      <label class="menu-content">שריונים</label>
    </button>
    <button mat-button class="menu-item">
      <mat-icon class="menu-icon" svgIcon="areas"></mat-icon>
      <label class="menu-content">אזורים ומבנים</label>
    </button>
    <button mat-button class="menu-item">
      <mat-icon class="menu-icon" svgIcon="assignments"></mat-icon>
      <label class="menu-content">הקצאות</label>
    </button>
    <button mat-button class="menu-item">
      <mat-icon class="menu-icon" svgIcon="remarks"></mat-icon>
      <label class="menu-content">הערות</label>
    </button>
    <button mat-button class="menu-item">
      <mat-icon class="menu-icon" svgIcon="advanced_instructions"></mat-icon>
      <label class="menu-content">הנחיות מתקדמות</label>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-container
      *ngTemplateOutlet="content; context: { index_tab: 1 }"
    ></ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <mat-toolbar class="example-footer">Footer</mat-toolbar> -->

<!-- `add`,
`advanced_instructions`,
`areas`,
`assignments`,
`close`,
`remarks`,
`reserve`,
`sdk_assignment` -->

<ng-template #content let-index_tab="index_tab">
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }} content{{ index_tab }} content{{
    index_tab
  }}
  content{{ index_tab }} content{{ index_tab }}
</ng-template>
