:root {
  --praimery: #3b9afa;
  --dark-praimery: #40a0ff;
  --white: #ffffff;
  --gray: #f9f9fa;
  --dark-gray: #e7eaef;
  --black: #5d6371;
}

.mat-sidenav-container {
  direction: rtl;

  .mat-sidenav .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;

    .menu-item {
      min-width: 74px;
      padding: 0px !important;
      background-color: var(--gray);
      border: none;
      min-height: 68px;
      opacity: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .menu-content {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 9px;
        font-weight: 700;
      }

      .menu-icon {
        border-radius: 4px;
        width: 21px;
        height: 21px;
        padding: 3.5px;
      }

      &.active {
        color: var(--praimery);
        .menu-icon {
          background-color: var(--dark-praimery);
          color: var(--white);
        }
      }

      &:not(active) {
        color: var(--black);
        .menu-icon {
          background-color: var(--dark-gray);
        }
      }
    }
  }

  .mat-sidenav-content {
    margin-left: 0px !important;
    margin-right: 93px !important;

    section:not(:last-child) {
      padding-bottom: 50px;
    }
  }
}
