<!-- <mat-toolbar class="example-header">Header</mat-toolbar> -->

<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    mode="side"
    opened
    class="example-sidenav"
    [fixedInViewport]="false"
    [fixedTopGap]="0"
    [fixedBottomGap]="0"
  >
    <button
      mat-button
      class="menu-item"
      [class.active]="sidenavContent?.nativeElement?.tabIndex === 0"
    >
      <mat-icon class="menu-icon" svgIcon="sdk_assignment"></mat-icon>
      <label class="menu-content">הקצאות סד"כ</label>
    </button>
    <button
      mat-button
      class="menu-item"
      [class.active]="sidenavContent?.nativeElement?.tabIndex === 1"
    >
      <mat-icon class="menu-icon" svgIcon="reserve"></mat-icon>
      <label class="menu-content">שריונים</label>
    </button>
    <button
      mat-button
      class="menu-item"
      [class.active]="sidenavContent?.nativeElement?.tabIndex === 2"
    >
      <mat-icon class="menu-icon" svgIcon="areas"></mat-icon>
      <label class="menu-content">אזורים ומבנים</label>
    </button>
    <button
      mat-button
      class="menu-item"
      [class.active]="sidenavContent?.nativeElement?.tabIndex === 3"
    >
      <mat-icon class="menu-icon" svgIcon="assignments"></mat-icon>
      <label class="menu-content">הקצאות</label>
    </button>
    <button
      mat-button
      class="menu-item"
      [class.active]="sidenavContent?.nativeElement?.tabIndex === 4"
    >
      <mat-icon class="menu-icon" svgIcon="remarks"></mat-icon>
      <label class="menu-content">הערות</label>
    </button>
    <button
      mat-button
      class="menu-item"
      [class.active]="sidenavContent?.nativeElement?.tabIndex === 5"
    >
      <mat-icon class="menu-icon" svgIcon="advanced_instructions"></mat-icon>
      <label class="menu-content">הנחיות מתקדמות</label>
    </button>
  </mat-sidenav>
  <mat-sidenav-content #appScrollEvent appScrollEvent>
    <ng-container *ngFor="let index_tab of array">
      <ng-container
        *ngTemplateOutlet="content; context: { index_tab }"
      ></ng-container
    ></ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #content let-index_tab="index_tab">
  <section #section [id]="index_tab">
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{
      index_tab
    }}
    content{{ index_tab }} content{{ index_tab }} content{{ index_tab }}
  </section>
</ng-template>
