.select-alternative-container {
  height: 100%;
  width: 100%;
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  .search-headquarter {
    flex: 1;
    margin: 0 13.5px;
    border-bottom: 2px solid #e7eaef;
  }
  .select-alternative {
    flex: 2.1;
    margin: 0 13.5px;
  }
  .footer {
    flex: 1;
    border-top: 1px solid #e7eaef;
  }

  afui-form-field {
    --afui-form-field-afui-input-color: #424242;
    --afui-form-field-afui-input-background-color: #ffffff;
    --afui-form-field-afui-input-focus-border-color: #40a0ff;
    --afui-form-field-afui-input-disabled-background-color: #f0f0f0;
    --afui-form-field-afui-input-placeholder-color: #cccccc;
    --afui-form-field-afui-field-label-color: #8a8a8a;
    --afui-form-field-afui-error-color: #ff0000;
    --afui-form-field-font-size: 1em;
    --afui-form-field-font-family: Arial, serif;
  }
}
