<div class="structures-container">
  <div class="structures-amount indent">
    <label class="structures-label">מבנים</label>
    <div class="structures-inputs-container">
      <afui-form-field>
        <span afui-field-label>כמות מטוסים במבנה</span>
        <mat-select
          afui-input
          class="structures-input"
          disableOptionCentering
          placeholder="בחירה"
          panelClass="structures-options"
        >
          <mat-option
            *ngFor="let option of numSquadronInStructures"
            [value]="option"
            >{{ option }}</mat-option
          >
        </mat-select>
      </afui-form-field>
      <!-- <input afui-input [value]="value" [placeholder]="placeholder" /> -->
      <!-- <span *ngIf="displayError" afui-error>{{ errorText }}</span> -->
    </div>
  </div>
  <div class="separation-of-times-app indent">
    <separation-of-times
      [class.disabled]="isCheckedRoundingTimes"
      [separationOfTimes]="cloneStructuresInstructions.separationOfTimes"
    ></separation-of-times>
  </div>
  <div class="rounding-times-app">
    <mat-icon
      class="info rounding"
      [svgIcon]="'info-fill'"
    ></mat-icon>
    <mat-slide-toggle
      disableRipple="true"
      afui-slide-toggle
      class="rounding-times"
      [ngModel]="isCheckedRoundingTimes"
      (change)="toggleRound($event.checked)"
      disableRipple
      >עיגול זמ"מ</mat-slide-toggle
    >
    <rounding-times *ngIf="isCheckedRoundingTimes"></rounding-times>
  </div>
</div>
